.ultra_light_font
  {
    font-family: 'JetBrains Mono', monospace;
    font-weight: 100;
  }

.light_font
  {
    font-family: 'JetBrains Mono', monospace;
    font-weight: 200;
  }

.regular_font
  {
    font-family: 'JetBrains Mono', monospace;
    font-weight: 400;
  }